@font-face
{
    src: url("fonts/noelan-script.otf")  format("opentype");
        
    font-family:noelan;
}

*,html,body
{
    margin:0;
    padding:0;
}



body
{
  height: 3000px;  
}

header
{
    
    height:110px;
    line-height:110px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.secondary
{
    background-color: deepskyblue;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}



ul
{
    list-style: none;
}

ul li
{
    display:inline-block;
}

header nav
{
   float:right; 
}

.logo img
{
    margin-top:33px;
}

header nav ul li a
{
   padding-right: 30px; 
    font-weight: bold; 
    color: white;
    transition: all 0.2s ease-in;
    
}

header nav ul li a:hover
{
    text-decoration: none;
    color:red;
}

.img1
{
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(..//images/food1.1.jpg);
    background-size: 100% 100%; 
    
}

.img2
{
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(..//images/egg1.jpg);
    background-size: 100% 100%; 
    
}

.img3
{
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(..//images/slide1.jpg);
    background-size: cover; 
    
    
}

.slider,.slider ul,.slider ul li
{
    height: 740px;
    width:100%; 
    color:white;
    text-align: center;
/*    font-size: 16px;*/
    
}

.slider h1
{
    font-weight: bold;
    margin-top: 250px;
    margin-left: px;
    font-family: "EB Garamond";
    transition: .2s ease-in;
/*    font-size: 50px;*/
}

.slider span
{
    color: orange;
}

.slider a
{
    padding: 10px 40px;
    margin-right: 10px;
    
    
}

  .slider a.btn-half
{
    background-color: deepskyblue;
    color: white;
    transition: .2s ease-in;
}

.slider a.btn-half:hover
{
   background-color: cornsilk;
    color: deepskyblue;
    opacity: .9;
}

.slider a.btn-full
{
    background-color: orange;
    color: white;
    transition: .2s ease-in;
}

.slider a.btn-full:hover
{
    background-color: cornsilk;
    color: orange;
    opacity: .9;
    
    
}


.slider i
{
    font-size: 20px;
    margin-right: 10px;
    
}






.intro-area
{
   position: relative ;
    padding: 100px 0px;
    text-align: center;
}

.intro-area h2
{
    font-family: "EB Garamond" ;
}


.sub-heading
{
    position: relative;
    margin-bottom: 75px;
}

.sub-heading:before
{
    content:"";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left:-3%;
    width: 6%;
    height: 2px;
    background-color: deepskyblue;
    z-index:1;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
     transition: .3s ease;
}


.sub-heading:hover:before
{
    width:50%;
    margin-left: -25%;
}


.sub-heading:after
{
    content:"";
    position:absolute;
    top: 100%;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 2px;
    background-color: #e1e1e1;
}

.sub-heading p
{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

/*
.item img
{
    height: auto;
    width:  20%;
}
*/


#testimonial
{
    padding-top: 59px;
    padding-bottom: 0px;
}


.testimonial-title
{
    padding-bottom: 59px;
}

.client
{
  border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 30px;
    cursor: pointer;
    display: flex;
}

.client img
{
    height:20px;
    width: 20px;
    display: block;
}


.client-inform
{
    padding-top: 15px;
    padding-left: 35px;
}


.client-inform h4>span
{
   font-family: tahoma;
    font-size: 14px;
    font-weight: 400;
    color: #7f8183;
    text-transform: capitalize;
}

.client:after
{
    content: "";
    display: block;
    border-top:  3px solid #ef1414;
    width: 180px;
    position: absolute;
    top: 0;
    left: 30px;
}

  






































































